<ul class="dropdown-menu square primary margin-list-rounded with-triangle" data-bind="foreach: {data: coinsArray }">
    <li><a data-bind="click: baseVM.switchCoins.bind($data, name), text: name"></a></li>
</ul>