 <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="#tab1" data-toggle="tab">My bets</a></li>
                    <li class="active"><a href="#tab2" data-toggle="tab">All bets</a></li>
                    <li><a href="#tab3" data-toggle="tab">High Rollers</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in" id="tab1">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-th-block table-hover">
                                    <thead>
                                        <tr>
                                             
                                            <th>Time</th>
                                            <th>Bet on</th>
                                            <th>Lucky Number</th>                                            
                                            <th>Wager</th>
                                            <th>Payout</th>
                                            <th>Profit</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: myBetsArray }">
                                        <tr>

                                            <td data-bind="text: gt"></td>
                                            <td data-bind="text: sn"></td>
                                            <td>
                                                <p class="text-danger" data-bind="text: dice"></p>
                                            </td>
                                            <td data-bind="text: w"></td>
                                            <td data-bind="text: payout + 'x'"></td>
                                            <td data-bind="html: pf"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in active" id="tab2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-th-block table-hover">
                                    <thead>
                                        <tr>

                                            <th>Time</th>
                                            <th>Bet on</th>
                                            <th>Lucky Number</th>
                                            <th>Wager</th>
                                            <th>Payout</th>
                                            <th>Profit</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: allBetsArray }">
                                        <tr>

                                            <td data-bind="text: gt"></td>
                                            <td data-bind="text: sn"></td>
                                            <td>
                                                <p class="text-danger" data-bind="text: dice"></p>
                                            </td>
                                            <td data-bind="text: w"></td>
                                            <td data-bind="text: payout + 'x'"></td>
                                            <td data-bind="html: pf"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="tab3">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-th-block table-hover">
                                    <thead>
                                        <tr>

                                            <th>Time</th>
                                            <th>Bet on</th>
                                            <th>Lucky Number</th>
                                            <th>Wager</th>
                                            <th>Payout</th>
                                            <th>Profit</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: {data: highRollArray }">
                                        <tr>

                                            <td data-bind="text: gt"></td>
                                            <td data-bind="text: sn"></td>
                                            <td>
                                                <p class="text-danger" data-bind="text: dice"></p>
                                            </td>
                                            <td data-bind="text: w"></td>
                                            <td data-bind="text: payout + 'x'"></td>
                                            <td data-bind="html: pf"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>