<div class="col-sm-12">
    <div class="col-sm-4"><h1 class="page-heading">Over or Under</h1></div>
    <div class="col-sm-8">{{> common/_Adsense}}</div>
</div>

<div class="col-sm-5 col-md-4 col-lg-3">
    {{> common/_Faucet this}}
    {{> games/_SaltPartial}}
    {{> games/_CoinBalancePartial}}
    {{> games/_WithdrawPartial}}
 </div>
<div class="col-sm-7 col-md-7 col-lg-7">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Bet
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    {{> games/_OUBetPartial}}
                </div>
                <div class="col-md-4">
                    {{> games/_AutoBetPartial}}
                </div>
            </div>
        </div>
    </div>
    {{> common/_Adsense}}
    {{> games/_BetHistoryPartial}}
</div>
<div class="col-md-2 col-lg-2">
     {{> common/_Adsense}}
</div>
    {{#contentFor  "pageScripts"}}
    <script src="/js/baseVM.js"></script>
    <script src="/js/overunder.js"></script>
    {{/contentFor }}

