<div class="panel panel-info">
    <div class="panel-heading">
        Faucet
    </div>
    <div class="panel-body">
        <form action="?">
            <div class="g-recaptcha" data-callback="verifyreCaptcha" data-sitekey="6LeD4QMTAAAAAL1GQc5IUlSTVcWfYc5ycmSJHzcC"></div>
        </form>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src='/js/reCaptcha.js'></script>