<ul class="sidebar-menu online-user">
    <li class="static">ONLINE USERS</li>
    <li>
        <ul style="padding-left: 15px;" data-bind="foreach: {data: onlineUsersArray }">
            <li>
                <a href="#fakelink">
                    <span class="user-status success"></span>
                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                    <i class="fa fa-mobile-phone device-status"></i>
                    <span data-bind="text: userName"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>