<ul class="sidebar-menu online-user">
    <li class="static">ONLINE USERS</li>
    <li>
        <a href="#fakelink">
            <span class="user-status success"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-mobile-phone device-status"></i>
            Thomas White
            <span class="small-caps">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status success"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            Doina Slaivici
            <span class="small-caps">Duis autem vel eum iriure dolor in hendrerit in </span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status success"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-android device-status"></i>
            Harry Nichols
            <span class="small-caps">I think so</span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status success"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-mobile-phone device-status"></i>
            Mihaela Cihac
            <span class="small-caps">Yes, I'll be waiting</span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status success"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-apple device-status"></i>
            Harold Chavez
            <span class="small-caps">Thank you!</span>
        </a>
    </li>

    <li class="static">IDLE USERS</li>
    <li>
        <a href="#fakelink">
            <span class="user-status warning"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-windows device-status"></i>
            Elizabeth Owens
            <span class="small-caps">2 hours</span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status warning"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-apple device-status"></i>
            Frank Oliver
            <span class="small-caps">4 hours</span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status warning"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            Mya Weastell
            <span class="small-caps">15 minutes</span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status warning"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-mobile-phone device-status"></i>
            Carl Rodriguez
            <span class="small-caps">20 hours</span>
        </a>
    </li>
    <li>
        <a href="#fakelink">
            <span class="user-status warning"></span>
            <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
            <i class="fa fa-mobile-phone device-status"></i>
            Nikita Carter
            <span class="small-caps">2 minutes</span>
        </a>
    </li>
</ul>