<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Funds</h3>
        <div class="right-content">
            <a class="btn btn-success btn-sm btn-rounded-lg" href="">
                <i class="fa fa-cog"></i>
            </a>
            <button class="btn btn-success btn-rounded-lg to-collapse" data-toggle="collapse" data-target="#depositPanelBody"><i class="fa fa-chevron-up"></i></button>

        </div>
    </div>
    <div class="panel-body" id="depositPanelBody">
        <div class="form-group">
            <label for="balance">Balance</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="dropdown-toggle hand" data-toggle="dropdown" data-bind="text: coinName"></span>
                    <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                        <li><a data-bind="click: switchCoins.bind($data,'BTC')">BTC</a></li>
                        <li><a data-bind="click: switchCoins.bind($data,'NXT')">NXT</a></li>
                    </ul> <span class="caret"></span>
                </span>
                <input type="text" data-bind="value: balance, click: copyBalance" class="form-control hand" readonly="readonly" />
                <span class="input-group-addon hand" data-bind="click: refreshBalance"><i class="fa fa-refresh" title="Refresh balance"></i></span>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Deposit Address</label>
            <div class="input-group">
                <span class="input-group-addon">@@</span>
                <input type="text" data-bind="value: depositAddress" class="form-control" readonly="readonly" />
                <span class="input-group-addon hand" data-bind="click: generateAddress"><i class="fa fa-refresh" title="Generate an address"></i></span>
            </div>
        </div>
    </div>
</div>
