
<div class="the-box bg-cover">
    <div class="row">
        <div class="col-lg-12 col-sm-4 col-xs-4">
            <button class="btn btn-success btn-perspective btn-lg more-margin center-block" data-bind="click: clickBet(0), enable: buttonEnable">EVEN (0)</button>
        </div>
        <div class="col-lg-12 col-sm-4 col-xs-4">
            <button class="btn btn-danger btn-perspective btn-lg more-margin center-block" data-bind="click: clickBet(1), enable: buttonEnable">ODD (1)</button>
        </div>
        <div class="col-lg-12 col-sm-4 col-xs-4">
            <button class="btn btn-info btn-perspective btn-lg more-margin center-block" data-bind="click: initBet, enable: buttonEnable()==false, visible: restartVisible">Restart</button>
        </div>
    </div>
</div>
