<div class="the-box bg-cover ">
    <label>Pick up to 16 numbers. But only one is correct.</label>
    <br/>
    <ul class="pagination separated">
        <li data-bind="css:{active: selectedNums.indexOf(0)> -1}"><a data-bind="click: function() {setNum(0);}" class=" hand">0</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(1)> -1}"><a data-bind="click: function() {setNum(1);}" class="hand">1</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(2)> -1}"><a data-bind="click: function() {setNum(2);}" class="hand">2</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(3)> -1}"><a data-bind="click: function() {setNum(3);}" class="hand">3</a></li>
    </ul>
    <ul class="pagination separated">
        <li data-bind="css:{active: selectedNums.indexOf(4)> -1}"><a data-bind="click: function() {setNum(4);}" class="hand">4</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(5)> -1}"><a data-bind="click: function() {setNum(5);}" class="hand">5</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(6)> -1}"><a data-bind="click: function() {setNum(6);}" class="hand">6</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(7)> -1}"><a data-bind="click: function() {setNum(7);}" class="hand">7</a></li>
    </ul>
    <ul class="pagination separated">
        <li data-bind="css:{active: selectedNums.indexOf(8)> -1}"><a data-bind="click: function() {setNum(8);}" class="hand">8</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(9)> -1}"><a data-bind="click: function() {setNum(9);}" class="hand">9</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(10)> -1}"><a data-bind="click: function() {setNum(10);}" class="hand">10</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(11)> -1}"><a data-bind="click: function() {setNum(11);}" class="hand">11</a></li>
    </ul>
    <ul class="pagination separated">
        <li data-bind="css:{active: selectedNums.indexOf(12)> -1}"><a data-bind="click: function() {setNum(12);}" class="hand">12</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(13)> -1}"><a data-bind="click: function() {setNum(13);}" class="hand">13</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(14)> -1}"><a data-bind="click: function() {setNum(14);}" class="hand">14</a></li>
        <li data-bind="css:{active: selectedNums.indexOf(15)> -1}"><a data-bind="click: function() {setNum(15);}" class="hand">15</a></li>
    </ul>
    <div class="row">
        <div class="col-xs-4">
            <button class="btn btn-success btn-lg btn-perspective center-block" data-bind="click: submitResult, enable: buttonEnable()">GO</button>
        </div> 
        <div class="col-xs-4">
            <button class="btn btn-info btn-lg btn-perspective center-block" data-bind="click: initBet, enable: buttonEnable()==false, visible: koVM.gameId()==2">Restart</button>
        </div>
    </div>
</div>