
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
           
            <div class="the-box bg-dark">
                <div class="form-group">
                    <label>BET HEIGHT</label>
                    <div class="input-group">
                        <span class="input-group-addon">Height</span>
                        <input class="form-control" data-bind="value: betHeight" />
                        <span class="input-group-addon hand" data-bind="click: addOne">+</span>
                        <span class="input-group-addon hand" data-bind="click: minusOne">-</span>
                        <span class="input-group-addon hand" data-bind="click: gotoMpHeight">Goto</span>
                    </div>
                    <span class="help-block" data-bind="html: heightdesc"></span>
                </div>
                <hr />
                <div class="panel with-nav-tabs">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#tab1" data-toggle="tab" id="tabBarChart">Height <span data-bind="text:betHeight"></span></a></li>
                            <li><a href="#tab2" data-toggle="tab" id="tabLineChart">Wagered Heights</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                            <div style="height: 250px; position: relative;" id="barChart"></div>
                        </div>
                        <div class="tab-pane fade in" id="tab2">
                            <label>Shows first 20 heights</label>
                            <div style="height: 250px; position: relative;" id="lineChart"></div>
                        </div>
                        <div class="tab-pane fade in" id="tab3">

                        </div>
                        <div class="tab-pane fade in" id="tab4">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>