<div class="panel panel-warning">
    <div class="panel-heading">
        PROVABLE FAIR
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Client Salt</label>
                <div class="input-group">
                    <input type="text" class="form-control" data-bind="value: clientsalt" />
                    <span class="input-group-addon hand glyphicon glyphicon-floppy-disk" title="Update client salt" data-bind="click: saveClientSalt"></span>
                </div>
            </div>
        </form>

        <label>Server Salt</label>
        <p style="word-break:break-all" data-bind="html: serversalt"></p>
        <hr />
        <div data-bind="visible: preClientSalt() != ''">
            <label>Previous Client Salt</label>
            <p style="word-break:break-all" data-bind="html: preClientSalt"></p>
            <label>Previous Server Salt</label>
            <p style="word-break:break-all" data-bind="html: preServerSalt"></p>
        </div>
        <hr /> <p data-bind="html: rule">
        </p>
    </div>

</div>
