<div class="modal fade" id="nameUserModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none" >
    <div class="modal-dialog">
        <div class="modal-content modal-no-shadow modal-no-border bg-info">
            <div class="modal-header">
                <h3 class="modal-title">What would you like to call yourself?</h3>
            </div>
            <div class="modal-body">
               <input type="text" class="form-control" id="txtNameUser" placeholder="Enter your name"/>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-info" id="saveUserName">GO</button>
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content .modal-no-shadow .modal-no-border .the-box .info .full -->
    </div><!-- /.modal-dialog -->
</div>