<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Online bet, bitcoin">
    <meta name="keywords" content="">
    <title>{{page_title}} - online crypto currency game</title>
    <!-- build:css /stylesheets/libs.min.css -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/toastr.css" />
    <link type="text/css" rel="stylesheet" href="/css/morris.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/css/style-responsive.css" />
    <link type="text/css" rel="stylesheet" href="/css/site.css" />
    <!-- endbuild -->
    <!-- build:css /stylesheets/app.min.css -->
    <link type="text/css" rel="stylesheet" href="/css/style-custom.css" />
    <!-- endbuild -->
    {{{block "pageStyle"}}}
    <script src="/js/modernizr-2.7.2.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="tooltips">
    <!--
    ===========================================================
    BEGIN PAGE
    ===========================================================
    -->
    <div class="wrapper">
        <!-- BEGIN TOP NAV -->
        <div class="top-navbar info-color">
            <div class="top-navbar-inner">

                <!-- Begin Logo brand -->
                <div class="logo-brand info-color visible-lg">
                    <a href="/"><img src="/img/sentir-logo-primary.png" alt="Sentir logo"></a>
                </div><!-- /.logo-brand -->
                <!-- End Logo brand -->

                <div class="top-nav-content">

                    <!-- Begin button sidebar left toggle -->
                    <div class="btn-collapse-sidebar-left">
                        <i class="fa fa-bars"></i>
                    </div><!-- /.btn-collapse-sidebar-left -->
                    <!-- End button sidebar left toggle -->
                    <!-- Begin button sidebar right toggle -->
                    <div class="btn-collapse-sidebar-right">
                        <i class="fa fa-bullhorn"></i>
                    </div><!-- /.btn-collapse-sidebar-right -->
                    <!-- End button sidebar right toggle -->
                    <!-- Begin button nav toggle -->
                    <div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
                        <i class="fa fa-plus icon-plus"></i>
                    </div><!-- /.btn-collapse-sidebar-right -->
                    <!-- End button nav toggle -->
                    <!-- Begin user session nav -->
                    <ul class="nav-user navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle hand" data-toggle="dropdown">
                                <img src="/img/avatar/avatar.jpg" class="avatar img-circle" alt="Avatar">
                                Hi,   
                            </a>
                            <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/withdraw">Withdraw</a></li>
                                <li><a href="/deposit">Deposit</a></li>
                                <li class="divider"></li>
                                <li><a href="lock-screen.html">Lock screen</a></li>
                                <li><a href="login.html">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End user session nav -->
                    <!-- Begin Collapse menu nav -->
                    <div class="collapse navbar-collapse" id="main-fixed-nav">

                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="/">
                                    Home
                                </a>
                                 
                            </li>
                            <li>
                                <a href="/verification">Verification</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="/support">Support</a>
                            </li>
                            <li>
                                <a class="dropdown-toggle hand" data-toggle="dropdown">Switch Coins<span class="caret"></span></a>
                                <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                    <li><a data-bind="click: switchCoins.bind($data,'BTC')">BTC</a></li>
                                    <li><a data-bind="click: switchCoins.bind($data,'NXT')">NXT</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div><!-- /.navbar-collapse -->
                    <!-- End Collapse menu nav -->
                </div><!-- /.top-nav-content -->
            </div><!-- /.top-navbar-inner -->
        </div><!-- /.top-navbar -->
        <!-- END TOP NAV -->
        <!-- BEGIN SIDEBAR LEFT -->
        <div class="sidebar-left sidebar-nicescroller">
            <ul class="sidebar-menu">
                <li>
                    <a href="">
                        <i class="fa fa-dashboard icon-sidebar"></i>Switch Coins
                    </a>
                    <ul class="submenu">
                        <li><a class="hand" data-bind="click: switchCoins.bind($data,'BTC')">BTC</a></li>
                        <li><a class="hand" data-bind="click: switchCoins.bind($data,'NXT')">NXT</a></li>
                    </ul>
                </li>
            </ul>


        </div><!-- /.sidebar-left -->
        <!-- END SIDEBAR LEFT -->
        <!-- BEGIN SIDEBAR RIGHT HEADING -->
        <div class="sidebar-right-heading">
            <ul class="nav nav-tabs square nav-justified">
                <li class="active"><a href="#online-chat" data-toggle="tab"><i class="fa fa-comments"></i></a></li>
                <li><a href="#online-user-sidebar" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                 <li><a href="#setting-sidebar" data-toggle="tab"><i class="fa fa-cogs"></i></a></li>
            </ul>
        </div><!-- /.sidebar-right-heading -->
        <!-- END SIDEBAR RIGHT HEADING -->
        <!-- BEGIN SIDEBAR RIGHT -->        
        <div class="sidebar-right sidebar-nicescroller">
            <div class="tab-content">
                <div class="tab-pane fade in active" data-bind="stopBinding: true" id="online-chat">
                    <div class="col-sm-12 action-chat" id="chatBox">

                        <ul class="list-group" style="max-height: 700px;overflow-y: auto;" data-bind="foreach: chatArray">
                            <li class="chat-item list-group-item">
                                <span data-bind="text: chatTime"></span> <span data-bind="text: chatUser"></span>: <br />
                                <label class="text-info" data-bind="text: chatMsg"></label>
                            </li>
                        </ul>
                        <hr />
                        <form role="form">
                            <div class="form-group">
                                <label>Message:</label>
                                <input type="text" data-bind="value: enterMsg" class="form-control rounded" placeholder="Enter message">
                            </div>

                            <button type="button" data-bind="click: sendMsg, enable: chatButtonEnable" class="btn btn-default">Send</button>
                        </form>
                    </div>
                </div>
                    <div class="tab-pane fade in" id="online-user-sidebar">
                        <ul class="sidebar-menu online-user">
                            <li class="static">ONLINE USERS</li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status success"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-mobile-phone device-status"></i>
                                    Thomas White
                                    <span class="small-caps">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status success"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    Doina Slaivici
                                    <span class="small-caps">Duis autem vel eum iriure dolor in hendrerit in </span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status success"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-android device-status"></i>
                                    Harry Nichols
                                    <span class="small-caps">I think so</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status success"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-mobile-phone device-status"></i>
                                    Mihaela Cihac
                                    <span class="small-caps">Yes, I'll be waiting</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status success"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-apple device-status"></i>
                                    Harold Chavez
                                    <span class="small-caps">Thank you!</span>
                                </a>
                            </li>

                            <li class="static">IDLE USERS</li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status warning"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-windows device-status"></i>
                                    Elizabeth Owens
                                    <span class="small-caps">2 hours</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status warning"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-apple device-status"></i>
                                    Frank Oliver
                                    <span class="small-caps">4 hours</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status warning"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    Mya Weastell
                                    <span class="small-caps">15 minutes</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status warning"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-mobile-phone device-status"></i>
                                    Carl Rodriguez
                                    <span class="small-caps">20 hours</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status warning"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <i class="fa fa-mobile-phone device-status"></i>
                                    Nikita Carter
                                    <span class="small-caps">2 minutes</span>
                                </a>
                            </li>

                            <li class="static">OFFLINE USERS</li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status danger"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    Craig Dixon
                                    <span class="small-caps">Last seen 2 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status danger"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    Mikayla King
                                    <span class="small-caps">Last seen yesterday</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status danger"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    Richard Dixon
                                    <span class="small-caps">Last seen Feb 20, 2014 05:45:50</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status danger"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    Brenda Fuller
                                    <span class="small-caps">Last seen Feb 15, 2014 11:35:50</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink">
                                    <span class="user-status danger"></span>
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    Ryan Ortega
                                    <span class="small-caps">Last seen Jan 20, 2014 03:45:50</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="notification-sidebar">
                        <ul class="sidebar-menu sidebar-notification">
                            <li class="static">TODAY</li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Karen Wallace" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Posted something on your profile page</span>
                                    <span class="small-caps">17 seconds ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Phillip Lucas" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Uploaded a photo</span>
                                    <span class="small-caps">2 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Sandra Myers" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Commented on your post</span>
                                    <span class="small-caps">5 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Charles Guerrero" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Send you a message</span>
                                    <span class="small-caps">17 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Maria Simpson" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Change her avatar</span>
                                    <span class="small-caps">20 hours ago</span>
                                </a>
                            </li>

                            <li class="static">YESTERDAY</li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Jason Crawford" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Posted something on your profile page</span>
                                    <span class="small-caps">Yesterday 10:45:12</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Cynthia Mendez" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Uploaded a photo</span>
                                    <span class="small-caps">Yesterday 08:00:05</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Peter Ramirez" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Commented on your post</span>
                                    <span class="small-caps">Yesterday 07:49:08</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Jessica Gutierrez" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Send you a message</span>
                                    <span class="small-caps">Yesterday 07:35:19</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="Ryan Ortega" data-placement="left">
                                    <img src="/img/avatar/avatar.jpg" class="ava-sidebar img-circle" alt="Avatar">
                                    <span class="activity">Change her avatar</span>
                                    <span class="small-caps">Yesterday 06:00:00</span>
                                </a>
                            </li>

                            <li class="static text-center"><button class="btn btn-primary btn-sm">See all notifications</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="task-sidebar">
                        <ul class="sidebar-menu sidebar-task">
                            <li class="static">UNCOMPLETED</li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="in progress" data-placement="left">
                                    <i class="fa fa-clock-o icon-task-sidebar progress"></i>
                                    Creating documentation
                                    <span class="small-caps">Deadline : Next week</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="uncompleted" data-placement="left">
                                    <i class="fa fa-exclamation-circle icon-task-sidebar uncompleted"></i>
                                    Eating sand
                                    <span class="small-caps">Deadline : 2 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="uncompleted" data-placement="left">
                                    <i class="fa fa-exclamation-circle icon-task-sidebar uncompleted"></i>
                                    Sending payment
                                    <span class="small-caps">Deadline : 2 seconds ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="in progress" data-placement="left">
                                    <i class="fa fa-clock-o icon-task-sidebar progress"></i>
                                    Uploading new version
                                    <span class="small-caps">Deadline : Tomorrow</span>
                                </a>
                            </li>

                            <li class="static">COMPLETED</li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="completed" data-placement="left">
                                    <i class="fa fa-check-circle-o icon-task-sidebar completed"></i>
                                    Drinking coffee
                                    <span class="small-caps">Completed : 10 hours ago</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="completed" data-placement="left">
                                    <i class="fa fa-check-circle-o icon-task-sidebar completed"></i>
                                    Walking to nowhere
                                    <span class="small-caps">Completed : Yesterday</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="completed" data-placement="left">
                                    <i class="fa fa-check-circle-o icon-task-sidebar completed"></i>
                                    Sleeping under bridge
                                    <span class="small-caps">Completed : Feb 10 2014</span>
                                </a>
                            </li>
                            <li>
                                <a href="#fakelink" data-toggle="tooltip" title="completed" data-placement="left">
                                    <i class="fa fa-check-circle-o icon-task-sidebar completed"></i>
                                    Buying some cigarettes
                                    <span class="small-caps">Completed : Jan 15 2014</span>
                                </a>
                            </li>

                            <li class="static text-center"><button class="btn btn-success btn-sm">See all tasks</button></li>
                        </ul>
                    </div><!-- /#task-sidebar -->

                </div><!-- /.tab-content -->
        </div><!-- /.sidebar-right -->
        <!-- END SIDEBAR RIGHT -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container-fluid">
                <div id="background">
                    <img src="/img/bg-11-full.jpg" class="stretch" alt="" />
                </div>
                <!-- BEGIN SiTE INFORMATIONS -->
                <div class="row">
                    {{{body}}}
                </div><!-- /.row -->
                <!-- END SITE INFORMATIONS -->

            </div><!-- /.container-fluid -->
            <!-- BEGIN FOOTER -->
            <footer>
                &copy; 2015 <a href="#fakelink">Node Dice</a><br />
            </footer>
            <!-- END FOOTER -->


        </div>
        <!-- /.page-content
        @Html.Action("LoginModal", "Account") -->

    </div><!-- /.wrapper -->
    <!-- END PAGE CONTENT -->
    <!-- BEGIN BACK TO TOP BUTTON -->
    <div id="back-top">
        <a href="#top"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- END BACK TO TOP -->
    <!--
    ===========================================================
    END PAGE
    ===========================================================
    -->
    <!--
    ===========================================================
    Placed at the end of the document so the pages load faster
    ===========================================================
    -->
    <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
    <!-- build:js /js/libs.min.js -->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/retina.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/knockout-3.2.0.js"></script>
    <script src="/js/knockout.validation.js"></script>
    <script src="/js/bootstrap-progressbar.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="/js/morris.js"></script>
    <script src="/js/raphael.js"></script>
    <!-- endbuild -->
    <!-- build:js /js/app.min.js -->
    {{{block "pageScripts"}}}
    <!-- endbuild -->
    <script src="/js/apps.js"></script>
    <script src="/js/chat.js"></script>
</body>
</html>
