<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Online bet, bitcoin">
    <meta name="keywords" content="">
    <title>{{page_title}} - online crypto currency game</title>
    <!-- build:css /stylesheets/libs.min.css -->
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/toastr.css" />
    <link type="text/css" rel="stylesheet" href="/css/morris.css" />
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/css/style-responsive.css" />
    <!-- endbuild -->
    <!-- build:css /stylesheets/app.min.css -->
    <link type="text/css" rel="stylesheet" href="/css/style-custom.css" />
    <!-- endbuild -->
    {{{block "pageStyle"}}}
    <script src="/js/modernizr-2.7.2.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="tooltips">
    <div id="spinner" class="spinnercontainer">
        <div class="spinner">
        </div>
    </div>
    {{> common/_NameUserPartial}}
    <!--
    ===========================================================
    BEGIN PAGE
    ===========================================================
    -->
    <div class="wrapper">
        <!-- BEGIN TOP NAV -->
        <div class="top-navbar info-color">
            <div class="top-navbar-inner">

                <!-- Begin Logo brand -->
                <div class="logo-brand info-color visible-lg">
                    <a href="/"><img src="/img/sentir-logo-primary.png" alt="Sentir logo"></a>
                </div><!-- /.logo-brand -->
                <!-- End Logo brand -->

                <div class="top-nav-content">

                    <!-- Begin button sidebar left toggle -->
                    <div class="btn-collapse-sidebar-left">
                        <i class="fa fa-bars"></i>
                    </div><!-- /.btn-collapse-sidebar-left -->
                    <!-- End button sidebar left toggle -->
                    <!-- Begin button sidebar right toggle -->
                    <div class="btn-collapse-sidebar-right">
                        <i class="fa fa-bullhorn"></i>
                    </div><!-- /.btn-collapse-sidebar-right -->
                    <!-- End button sidebar right toggle -->
                    <!-- Begin button nav toggle -->
                    <div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
                        <i class="fa fa-plus icon-plus"></i>
                    </div><!-- /.btn-collapse-sidebar-right -->
                    <!-- End button nav toggle -->
                    <!-- Begin user session nav -->
                    <ul class="nav-user navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle hand" data-toggle="dropdown">
                                <img src="/img/avatar/avatar.jpg" class="avatar img-circle" alt="Avatar">
                                Hi,   <span data-bind="text: userName"></span>
                            </a>
                            <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/withdraw">Withdraw</a></li>
                                <li><a href="/deposit">Deposit</a></li>
                                <li class="divider"></li>
                                <li><a href="lock-screen.html">Lock screen</a></li>
                                <li><a href="login.html">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End user session nav -->
                    <!-- Begin Collapse menu nav -->
                    <div class="collapse navbar-collapse" id="main-fixed-nav">

                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="/">
                                    Home
                                </a>
                                 
                            </li>
                            <li>
                                <a href="/verification">Verification</a>
                            </li>
                            <li>
                                <a href="/faq">FAQ</a>
                            </li>
                            <li>
                                <a href="/support">Support</a>
                            </li>
                            <li>
                                <a class="dropdown-toggle hand" data-toggle="dropdown">Switch Coins<span class="caret"></span></a>
                                <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                    <li><a data-bind="click: switchCoins.bind($data,'BTC')">BTC</a></li>
                                    <li><a data-bind="click: switchCoins.bind($data,'NXT')">NXT</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div><!-- /.navbar-collapse -->
                    <!-- End Collapse menu nav -->
                </div><!-- /.top-nav-content -->
            </div><!-- /.top-navbar-inner -->
        </div><!-- /.top-navbar -->
        <!-- END TOP NAV -->
        <!-- BEGIN SIDEBAR LEFT -->
        <div class="sidebar-left sidebar-nicescroller">
            <ul class="sidebar-menu">
                <li>
                    <a href="">
                        <i class="fa fa-dashboard icon-sidebar"></i>Switch Coins
                    </a>
                    <ul class="submenu">
                        <li><a class="hand" data-bind="click: switchCoins.bind($data,'BTC')">BTC</a></li>
                        <li><a class="hand" data-bind="click: switchCoins.bind($data,'NXT')">NXT</a></li>
                    </ul>
                </li>
            </ul>


        </div><!-- /.sidebar-left -->
        <!-- END SIDEBAR LEFT -->
        <!-- BEGIN SIDEBAR RIGHT HEADING -->
        <div class="sidebar-right-heading">
            <ul class="nav nav-tabs square nav-justified">
                <li class="active"><a href="#online-chat" data-toggle="tab"><i class="fa fa-comments"></i></a></li>
                <li><a href="#online-user-sidebar" data-toggle="tab"><i class="fa fa-users"></i></a></li>
            </ul>
        </div><!-- /.sidebar-right-heading -->        
        <!-- END SIDEBAR RIGHT HEADING -->
        <!-- BEGIN SIDEBAR RIGHT -->        
        <div class="sidebar-right sidebar-nicescroller">
            <div class="tab-content">
                <div class="tab-pane fade in active" data-bind="stopBinding: true" id="online-chat">
                    {{> common/_ChatPartial}}
                </div>
                <div class="tab-pane fade in" id="online-user-sidebar">
                    {{> common/_OnlineUserPartial}}
                </div>
            </div><!-- /.tab-content -->
        </div><!-- /.sidebar-right -->
        <!-- END SIDEBAR RIGHT -->
        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">
            <div class="container-fluid">
                <div id="background">
                    <img src="/img/bg-11-full.jpg" class="stretch" alt="" />
                </div>
                <!-- BEGIN SiTE INFORMATIONS -->
                <div class="row">
                    {{{body}}}
                </div><!-- /.row -->
                <!-- END SITE INFORMATIONS -->

            </div><!-- /.container-fluid -->
            <!-- BEGIN FOOTER -->
            <footer>
                &copy; 2015 <a href="#fakelink">Node Dice</a><br />
            </footer>
            <!-- END FOOTER -->


        </div>
        <!-- /.page-content
        @Html.Action("LoginModal", "Account") -->

    </div><!-- /.wrapper -->
    <!-- END PAGE CONTENT -->
    <!-- BEGIN BACK TO TOP BUTTON -->
    <div id="back-top">
        <a href="#top"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- END BACK TO TOP -->
    <!--
    ===========================================================
    END PAGE
    ===========================================================
    -->
    <!--
    ===========================================================
    Placed at the end of the document so the pages load faster
    ===========================================================
    -->
    <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
    <!-- build:js /js/libs.min.js -->
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/retina.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/knockout-3.2.0.js"></script>
    <script src="/js/knockout.validation.js"></script>
    <script src="/js/bootstrap-progressbar.js"></script>
    <script src="/js/toastr.js"></script>
    <script src="/js/morris.js"></script>
    <script src="/js/raphael.js"></script>
    <script src="/js/apps.js"></script>
    <!-- endbuild -->
    <!-- build:js /js/app.min.js -->
    {{{block "pageScripts"}}}
    <!-- endbuild -->
    <script src="/js/chat.js"></script>
</body>
</html>
